$mid-cutoff: 1000px;
$small-cutoff: 820px;
$smallest-cutoff: 444px;
$header-size: 56px;
$header-size-mid: 42px;
$header-size-small: 28px;


$blue: MediumTurquoise;
$green: LimeGreen;
$yellow: Gold;
$orange: DarkOrange;
$magenta: MediumVioletRed;
$border-radius: 10px;
$max-width: 1440px;
$max-width-overlay: 900px;
$ink: #111;
$light: #EEE;

$shadow-colour: rgba(16,16,16,0.15);
$shadow-colour-hidden: rgba(16,16,16,0.0);
$shadow-colour-light: rgba(16,16,16,0.10);

.blue {
	background-color: $blue;
}
.green {
	background-color: $green;
}
.yellow {
	background-color: $yellow;
}
.orange {
	background-color: $orange;
}
.magenta {
	background-color: $magenta;
}

body {
	height: 100vh;
    background-color: $light;
	font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $ink;
}

.app {
background-color: $light;
color: $ink;
overflow-y: scroll;
}
.container {
	padding: 45px 0px;
	text-align: center;
	margin-bottom: 45px;
	@media (max-width: $small-cutoff) {
		padding-left: 20px;
		padding-right: 20px;
	}
	@media (max-width: $smallest-cutoff){
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
	}
}

.no-scroll {
	position:fixed;
    overflow:hidden;
}

@keyframes fadeInTranslate {
	0% {opacity: 0; transform: translateY(10%)}
	100% {opacity: 1;}
} 
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

.abs-position {
	position: absolute;
}
.overlay {
	background-color: rgba(238,238,238,0.7);
	backdrop-filter: blur(3px);
	animation: fadeIn 0.3s ease-in;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
}

.overlay-container {
	width: 80vw;
	margin: auto;
	height: calc(100vh - 95px);
	animation: fadeInTranslate 0.3s ease-in;
	padding: 35px 0px 20px 0px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	max-width: 1280px;
	@media (max-width: $mid-cutoff){
		width: 90vw;
	}
	@media (max-width: $small-cutoff){
		width: 100vw;
		height: calc(100vh - 78px);
		padding: 18px 0px 20px 0px;
	}
	@media (max-width: $smallest-cutoff){
		width: 100vw;
		height: calc(100vh - 62px);
		padding: 2px 0px 20px 0px;
	}
}

header {
    position: fixed;
    z-index: 300;
    width: 100%;
    text-align: center;
    background-color: white;
	box-shadow: 0px 0px 16px $shadow-colour;
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	width: 76vw;
	text-align: left;
	max-width: 1180px;
	@media (max-width: $mid-cutoff) {
		width: 90vw;
	}
	@media (max-width: $small-cutoff) {
		width: 90vw;
	}
	@media (max-width: $smallest-cutoff) {
		width: calc(100% - 30px);
	}
}
h1 {
	margin: 14px 0;
	font-size: $header-size;
	font-weight: 500;
	text-align: left;
	font-family: "Bungee Shade";
	@media (max-width: $small-cutoff) {
		font-size: $header-size-mid;
	}
	@media (max-width: $smallest-cutoff) {
		font-size: $header-size-small;
	}
}
h2 {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 0px;
	padding: 0px 14px;
	text-align: left;
}
h3 {
	margin: 4px 0px;
	padding: 0px 14px;
	text-align: left;
}
h4, h5 {
	margin: 6px 0px;
	padding: 0px 14px;
	font-weight: 300;
}
.card-container {
	margin: $header-size auto;
	display: inline-block;
	text-align: center;
	max-width: 1640px;
	@media (max-width: $smallest-cutoff) {
		margin: $header-size-small auto;
	}
}

.card-container .film-card {
	vertical-align:top;
	display: inline-block;
	margin: 20px 10px 10px 10px;
	color: $ink;
	width: 250px;
	text-align: left;
	height: 524px;
	background-color: #fff;
	border-radius: $border-radius;
	position: relative;
	transition: all .2s ease-in-out;
	@media (max-width: $small-cutoff) {
		width: 170px;
		height: 250px;
		margin: 10px 5px 5px 5px;
	}
}
.card-container .film-card:hover {
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0px 16px 32px $shadow-colour-light;
}
.film-poster {
	width: 100%;
	border-radius: $border-radius $border-radius 0 0;
	margin-bottom: 0px;
	height: 367px;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	background-color: black;
	position: relative;
	@media (max-width: $small-cutoff) {
		width: 170px;
		height: 250px;
		border-radius: $border-radius;
	}
}

.film-content {
	background-color: white;
	border-radius: 0 0 $border-radius $border-radius;
	@media (max-width: $smallest-cutoff) {
		width: 100vw;
	}
}
.film-content h2, .film-content h4 {
	color: white;
}
.single-container .film-poster {
	max-width: 250px;
	border-radius: $border-radius;
	display: inline-block;	
}
.single-container .film-details {
	text-align: left;
	max-width: 640px;
	display: inline-block;
	@media (max-width: $small-cutoff) {
		padding-top: 20px;
	}
	@media (min-width: $small-cutoff + 1) {
		width: calc(80vw - 330px);
		margin-left: 260px;
	}

}

.card-container .film-details, .card-container .film-stats {
	margin-top: 0px;
	border-radius: 0 0 $border-radius $border-radius;
	list-style-type: none;
	text-align: left;
	@media (max-width: $small-cutoff) {
		display: none;
	}
}

.card-container .ratings {
	position: absolute;
	display: inline-block;
	list-style-type: none;
	text-align: left;
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
	width: 100%;
	border-top: 1px solid $light;
	bottom: 0;
}

.film-details-header {
	position: relative;
	top: 95px;
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin: auto;
    z-index: 300;
	width: 80vw;
	max-width: 1280px;
    text-align: center;
    background-color: rgba(52,32,103,0.0);
	box-shadow: 0px 0px 16px $shadow-colour-hidden;
	@media(max-width: $mid-cutoff) {
		width: 90vw;
	}
	@media (max-width: $small-cutoff) {
		width: 100vw;
		top: 78px;
	}
}

.film-details-header.show {
	background-color: rgba(52,32,103,1.0);
	box-shadow: 0px 0px 16px $shadow-colour;
}

.film-details-banner {
	background-color: black;
	color: $light;
	border-radius: $border-radius $border-radius 0 0;
	background: linear-gradient(to bottom right, black, rgb(52,32,103));
	@media(max-width: $mid-cutoff) {
		width: 90vw;
	}
	@media (max-width: $small-cutoff) {
		top: $header-size-small + 32px;
		width: 100vw;
	}
	@media (min-width: $small-cutoff + 1) {
		top: $header-size-small + 32px;
		height: 300px;
	}
	justify-content: space-between;
	display: flex;
	text-align: left;
}

.film-details-highlights {
	display: inline-block;
	padding: 24px 12px 24px 12px;
	max-width: 640px;
	text-align: center;
	@media (min-width: $small-cutoff + 1) {
		padding: 0 0 12px 24px;
		align-self: flex-end;
		width: calc(80vw - 344px);
		text-align: left;
	}
}

.film-details-highlights h2, .film-details-highlights h4 {
	padding: 0px;	
}

.ratings li, .film-stats li {
	display: inline-block;
	text-align: center;
	padding: 8px 4px;
	width: calc(33% -  8px);
	vertical-align: middle;
}
.ratings li:first-child, .film-stats li:first-child {
	border-right: 1px solid white;
}

.ratings li:last-child, .film-stats li:last-child {
	border-right: none;
	border-left: 1px solid white;
}

.loading-symbol {
	display: table-cell;
	height: 100%;
	width: 100vw;
	vertical-align: middle;
	text-align: center;
}
.card-container .loading-view {
	height: 20vh;
}
.card-container .loading-symbol {
	transform: scale(0.75);
}
.loading-view {
	display: table;
	height: 100vh;
}
.loading-outside {
	font-size: 16vw;
	color: #DDD;
}
.loading-inside {
	font-size: 6vw;
	display: block;
	margin-top: -11vw;
	color: #DDD;
}
.strip-container {
	display: flex;
}
.strip {
	width: 60px;
	height: 96px;
	@media (max-width: $small-cutoff) {
		width: 7px;
		height: 7px;
		margin: 0px 4px;
		border-radius:5px;
	}	
}

.rows-appear {
  opacity: 0.01;
}

.rows-appear.rows-appear-active {
  opacity: 1;
  transition: opacity .7s ease-in;
}
.source {
	font-size: 10px;
}

.button-container {
	height: 50px;
	width: 50px;
	margin-right: 5px;
	background-color: rgba(16,16,16,0.6);
	border-radius: 30px;
}
.button-container:hover {
	transition: all .2s ease-in-out;
	background-color: #111;
}
.close-button {
	margin: 5px 0 0 10px;
	position: absolute;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.close-button > span {
	width: 30px;
	height: 4px;
	background-color: $light;
	display: block;
	position: absolute;
	top:18px;
	transform: rotate(45deg);
	border-radius: 2px;
}
.close-button > span:last-child {
	transform: rotate(-45deg);
}

.single-container {
	margin: 0px;
	max-width: $max-width-overlay;
	width: 80vw;
	margin: 0 auto;
	@media(max-width: $mid-cutoff) {
		width: 90vw;
	}
	@media(max-width: $small-cutoff) {
		width: 100vw;
	}
}
.single-container h2 {
	font-size: 24pt;
	display: inline;
	padding-right: 0px;
}
.align-bottom {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding: 24px 0px 12px 0px;
	@media (max-width: $small-cutoff) {
		flex-direction: column;
		align-items: center;
	}
	@media (min-width: $small-cutoff + 1) {
		padding: 48px 36px 0px 36px;
	}
}
.year {
	display: inline;
	padding-left: 10px;
	color: white;
	font-weight: 700;
}

.single-container .film-stats {
	margin-top: -4px;
	border-radius: 0 0 $border-radius $border-radius;
	list-style-type: none;
	text-align: left;
	padding: 0px 14px;
	display: inline-block;

}
.single-container .film-stats li{
	text-align: left;
	width: auto;
	border: none;
	padding: 24px 24px 0px 0px;
	color: $ink;
}
.synopsis {
	max-width: 640px;
	padding: 14px;
	margin: 0;
}
.single-container h3 {
	margin-top: 24px;
}
.single-container .ratings {
	background-color: $light;
	border-radius: $border-radius;
	padding: 0px;
	@media (max-width: $smallest-cutoff) {
		margin: 0px 7px 14px;
	}
}
.single-container .ratings li {
	text-align: left;
	padding: 14px;
	width: calc(33% -  28px);
}
